@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    background-image: url('/assets/img/bg.png') !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}