@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    background-image: url('assets/bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}